<!--<web-player channelId="channelId"></web-player>-->
<div class="webplayer">
	<div class="wp_header">
			<div class="wp_channelPick">
				<select class="form-control" ng-options="c as c.Name for c in channels" ng-model="selectedChannel" ng-change="onChannelChange()">
					
				</select>
			</div>
	</div>
	<div class="wp_main" ng-if="channelType == 'Radio'">
		
		<div id="wp_layers" ng-show="chunks.length > 0 && showWaveforms">
			<label class="radio-inline" ng-repeat="l in layers">
				<input type="radio" ng-value="l" name="layers" ng-model="$parent.activeLayer" ng-change="rbLayerChange()" /> {{l}}
			</label>
		</div>
		<div id="wp_songs" tabindex="1" ng-mouseup="">
			<div class="wp_songRow" ng-repeat="c in chunks" ng-mouseup="mouseup($event, $index)" ng-show="showWaveforms">
				<div class="wp_rowlabel noselect"><div class="wp_label">{{c.Time}}</div></div>
				<div class="wp_song">
					<wave-form data="c" width="chunkLengthPx" height="chunkHeightPx" index="$index" is-active="isActive($index)"
								on-click="waveClicked(data,$index)" layer="activeLayer" on-segment-resized="segmentResized(data, $index)"
								resize-element-changed="onResizeElementChanged(data, $index)" on-segment-start-resizing="onSegmentStartResizing(data, $index)"
								wave-data="waveData" request-chunks-render="requestChunksRender(data, $index)" on-dblclick="waveDblClicked(data, $index)"></wave-form>
				</div>

				<div class="wp_rowend noselect">&nbsp;</div>
			</div>
		</div>
		<audio ng-repeat="f in soundFiles" id="{{'audio-' + f.hour + '-' + f.second}}" ng-src="{{trustSrc(getAudioSrc($index))}}"></audio>

		<div class="wp_rightColumn">
			<wp-calendar dt="dt" get-day-class="getDayClass(date,mode)" on-change="onDateChange(date)" get-date-disabled="dateDisabled(date,mode)"></wp-calendar>
			<wp-daily-clock on-click="loadForHour(hour)" on-dbl-click="hourDblClick(hour)" fill-class="segmentFillClass(hour)"></wp-daily-clock>
			<div class="mt-2 wp_datetimeBox">
				<div class="row">
					<div class="col-xs-6">
						<label>Start date:</label>
					</div>
					<div class="col-xs-6">
						<span class="wp_strong">{{formatDate(dt, 'DD/MM/YYYY')}}</span>
						<!--<p class="input-group">
					<input type="text" class="form-control" datepicker-popup="{{datepickers.format}}" ng-model="dt" is-open="datepickers.from.opened"
							datepicker-options="datepickers.options" ng-required="true" close-text="Close" />
					<span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="datepickers.open(1,$event)"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
				</p>-->
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<label>Start time:</label>
					</div>
					<div class="col-xs-6">
						<span class="wp_strong">{{formatDate(dt, 'HH:mm')}}</span>
						<!--<timepicker ng-model="dt" show-meridian="false" show-spinners="false" ng-change="checkClipLength('s')"></timepicker>-->
					</div>
				</div>
				<div class="row mt-2">
					<div class="col-xs-3" ng-repeat="o in dateTimeBoxOffsets">
						<button type="button" class="btn btn-default btn-sm btn-block wp_strong"
								ng-click="changeTime(o,'s')" ng-disabled="playing">
							<span ng-if="o > 0">+</span>{{o}}
						</button>
					</div>
				</div>
				<div class="row mt-2">
					<div class="col-xs-6">
						<label>End date:</label>
					</div>
					<div class="col-xs-6">
						<span class="wp_strong">{{formatDate(dateTo, 'DD/MM/YYYY')}}</span>
						<!--<p class="input-group">
					<input type="text" class="form-control" datepicker-popup="{{datepickers.format}}" ng-model="dateTo" is-open="datepickers.to.opened"
							datepicker-options="datepickers.options" ng-required="true" close-text="Close" />
					<span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="datepickers.open(2,$event)"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
				</p>-->
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<label>End time:</label>
					</div>
					<div class="col-xs-6">
						<span class="wp_strong">{{formatDate(dateTo, 'HH:mm')}}</span>
						<!--<timepicker ng-model="dateTo" show-meridian="false" show-spinners="false" ng-change="checkClipLength('e')"></timepicker>-->
					</div>
				</div>
				<div class="row mt-2">
					<div class="col-xs-3" ng-repeat="o in dateTimeBoxOffsets">
						<button type="button" class="btn btn-default btn-sm btn-block wp_strong"
								ng-click="changeTime(o,'e')" ng-disabled="playing">
							<span ng-if="o > 0">+</span>{{o}}
						</button>
					</div>
				</div>
				<div class="row mt-2">
					<div class="col-xs-12">
						<label>Quick duration:</label>
					</div>
					<div class="col-xs-3 wp_duration" ng-repeat="d in dateTimeBoxDurations">
						<button type="button" class="btn btn-default btn-block wp_strong btn-sm" ng-click="quickDuration(d)" ng-disabled="playing">{{d}}m</button>

					</div>
				</div>
				<button class="btn btn-block btn-default mt-2" ng-click="loadClip()" ng-disabled="playing">Load clip</button>
			</div>
		</div>
		
	</div>
	<div class="wp_main" ng-if="channelType == 'TV'">		
		<div id="wp_video_left">
			<div ng-if="showVideo">
				<video-js id="wp_video1" class="video-js vjs-default-skin" 
					data-setup='{"overrideNative": true,"responsive": true, "liveui" : false, "liveTracker": true}'></video-js>
				<div>
					<wp_media_controls playing="isVideoPlaying()" from="dt" to="dateTo" current-time="getVideoTimeOffset()"
						on-play-pause="onMediaControlsPlayPause()" on-seek="onMediaControlsSeek(time)"
						></wp_media_controls>
				</div>				
				
				<!--<button class="btn" ng-click="rewindLeft()" ng-disabled="isVideoPlaying()">Rewind 1 frame left</button>
				<button class="btn" ng-click="rewindRight()" ng-disabled="isVideoPlaying()">Rewind 1 frame right</button>-->
				<wp_timeline from="dt" to="dateTo" video-start-time="videoStartTime" video-duration="videoDuration" options="timelineOptions" current-time="getVideoTime()" on-click="onTimeLineClick(data)"
					segment-layers="layers" segments="getDictSegments()" on-segment-dblclick="onVideoSegmentDblclick(layer, time)" on-layer-click="onVideoLayerClick(data)"
					wave-data="waveData" on-segment-start-resizing="onSegmentStartResizing(data, null)" on-segment-resized="segmentResized(data, null)"></wp_timeline>
			</div>
		</div>
		<div id="wp_video_right">
			<div class="wp_video_calendar_hours">
				<div class="wp_video_calendar">
					<wp-calendar dt="dt" get-day-class="getDayClass(date,mode)" on-change="onDateChange(date)" get-date-disabled="dateDisabled(date,mode)"></wp-calendar>
				</div>
				<div class="wp_video_hours">
					<wp-daily-clock on-click="loadForHour(hour)" fill-class="segmentFillClass(hour)"></wp-daily-clock>
				</div>				
			</div>
			<div>
				<button class="btn btn-block" ng-click="loadClip()">Load clock</button>
			</div>
			<div class="wp_video_thumbs" id="thumbsElem">
				<div ng-repeat="b in thumbBlocks" class="wp_video_thumbblock">
					<div ng-style="{ width: thumbRowHeaderWidth + 'px'}">
						<div ng-repeat="h in b.rowHeaders" class="wp_video_rowheader" ng-style="{ height: h.height + 'px', width: thumbRowHeaderWidth + 'px'}">
							<div>{{h.title}}</div>
							<div ng-if="!$last" class="wp_video_rowheader_separator"></div>
						</div>
					</div>
					<div class="wp_video_thumbcontainer">
						<div ng-repeat="t in b.thumbs" class="wp_video_thumb"
							 ng-style="getThumbStyle(t, b, $index)" ng-click="onThumbClick(t)">							
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	<!--<div class="wp_buttons">
		<button class="btn" ng-click="togglePlay()">Play/Pause</button>
		<button class="btn" ng-click="startEndSegment()">Segment</button>
	</div>-->
	<script type="text/ng-template" id="SegmentModal.html">
		<div class="modal-content wp_modal">
			<div class="modal-header">
				<h4 class="modal-title">Segment info</h4>
				<!--<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
				<span aria-hidden="true">&times;</span>
				</button>-->
			</div>
			<div class="modal-body" style="height: 570px">
				<div class="alert alert-danger" style="margin-bottom: 5px" ng-show="errorMessage">{{errorMessage}}</div>
				<div class="alert alert-success" style="margin-bottom: 5px" ng-show="successMessage">{{successMessage}}</div>
				<form name="form.main" novalidate>
					<tabset>
						<tab heading="Basic stuff">
							<div class="container-fluid mt-20p">
								<div class="row">
									<div class="col-sm-9">

										<div class="form-group row">
											<label for="programType" class="col-sm-3 col-form-label">Type of program</label>
											<div class="col-sm-9">
												<input type="text" class="form-control" ng-model="data.playlist_name"
													   typeahead="text_value for text_value in lookupSearch(clipValueTypes.programType, $viewValue)"
													   typeahead-min-length="typeaheadSettings.minValue" required/>
											</div>
										</div>
										<div class="form-group row">
											<label for="programName" class="col-sm-3 col-form-label">Program name</label>
											<div class="col-sm-9">
												<input type="text" class="form-control" ng-model="data.clip_name"
													   typeahead="text_value for text_value in lookupSearch(clipValueTypes.programName, $viewValue)"
													   typeahead-min-length="typeaheadSettings.minValue" required/>
											</div>
										</div>
										<div class="form-group row">
											<label for="segmentName" class="col-sm-3 col-form-label">Segment name</label>
											<div class="col-sm-9">
												<textarea class="form-control" name="segmentName" ng-focus="onSegmentNameFocus($event)"
											required ng-model="data.segment_name" id="data.segment_name" rows="4" ng-change="onSegmentNameChange()"></textarea>
											</div>
										</div>
										<div class="row">
											<div class="col-lg-4 col-sm-12 form-group">
												<label>Start date and time</label>
												<input type="text" class="form-control" ng-value="formatDate(data.segment_start)" disabled>
											</div>
											<div class="col-lg-4 col-sm-12 form-group">
												<label>Duration</label>
												<input type="text" class="form-control" disabled ng-value="data.segment_duration">
											</div>
											<div class="col-lg-4 col-sm-12 form-group">
												<label>End date and time</label>
												<input type="text" class="form-control" disabled ng-value="formatDate(data.segment_end)">
											</div>
										</div>

										<div class="form-group row">
											<label for="summary" class="col-sm-3 col-form-label">Summary text</label>
											<div class="col-sm-9">
												<textarea class="form-control" ng-model="data.summaryText" disabled id="summary" rows="4" value="Segment">Segment</textarea>
											</div>
										</div>
										<div class="form-group row">
											<label for="tags" class="col-sm-3 col-form-label">Detected tags</label>
											<div class="col-sm-9">
												<input type="text" class="form-control" id="tags" disabled ng-model="data.detectedTags">
											</div>
										</div>

									</div>
									<div class="col-sm-3 metadataRightCol">
										<div class="form-group"> 
											<input type="text" class="form-control" ng-model="tags.tag" ng-change="onTagFilterChange()"
												   ng-keyup="onTagFilterKeyUp($event)">											
										</div>
										<label>Tag picker</label>
										<div class="form-group tag-list">
											<select class="form-control" id="taglist" size="19" ng-options="t as t.name for t in tags.tags | filter:filterTags"
													ng-model="tags.currentTag" ng-keypress="tagKeyPress($event)">
												<option value="" ng-if="false"></option>
											</select>
										</div>
									</div>
								</div>

							</div>
						</tab>
						<tab heading="Other stuff">
							<div class="container-fluid mt-20p">
								<div class="row">
									<div class="col-sm-12">
										<div class="form-group row">
											<label class="col-sm-3 col-form-label">AVE</label>
											<div class="col-sm-6">
												<input type="text" class="form-control" ng-model="data.ave" required>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-3 col-form-label">AVE per 30 sec</label>
											<div class="col-sm-6">
												<input type="text" class="form-control" ng-model="data.ave_per_30_sec" required>
											</div>
											<div class="col-sm-3">
												<button class="btn btn-block" ng-click="pullAveFromDb()">Pull AVE from db</button>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-3 col-form-label">Ratings</label>
											<div class="col-sm-6">
												<input type="text" class="form-control" ng-model="data.tams" required>
											</div>
											<div class="col-sm-3">
												<button class="btn btn-block" ng-click="pullRatingsFromDb()">Pull ratings from db</button>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-3 col-form-label">Client</label>
											<div class="col-sm-6">
												<input type="text" class="form-control" ng-model="data.client"
													   typeahead="text_value for text_value in lookupSearch(clipValueTypes.client, $viewValue)"
													   typeahead-min-length="typeaheadSettings.minValueClient" />
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-3 col-form-label">Competitor</label>
											<div class="col-sm-6">
												<input type="text" class="form-control" ng-model="data.competitor"
													   typeahead="text_value for text_value in lookupSearch(clipValueTypes.client, $viewValue)"
													   typeahead-min-length="typeaheadSettings.minValueCompetitor" />
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-3 col-form-label">Event</label>
											<div class="col-sm-6">
												<input type="text" class="form-control" ng-model="data.event"
													   typeahead="text_value for text_value in lookupSearch(clipValueTypes.event, $viewValue)"
													   typeahead-min-length="typeaheadSettings.minValueEvent" />
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-3 col-form-label">Language</label>
											<div class="col-sm-6">
												<input type="text" class="form-control" ng-model="data.language"
													   typeahead="text_value for text_value in lookupSearch(clipValueTypes.language, $viewValue)"
													   typeahead-min-length="typeaheadSettings.minValueLanguage" />
											</div>
										</div>
										<div class="form-group">
											<input type="checkbox" ng-model="data.repeat"> <label>Repeat</label>
										</div>
									</div>
								</div>
							</div>
						</tab>
					</tabset>
				</form>
			</div>
			<div class="modal-footer">
                    
				<button type="button" class="btn btn-danger" style="margin-right: auto" ng-click="deleteSegment()">Delete</button>                    
				<button type="button" class="btn btn-success" ng-click="exportSegment()">Export</button>
				<button type="button" class="btn btn-primary" ng-click="saveSegment(false)">Ok</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="cancel()">Close</button>
                    
                    
			</div>
		</div>

		</script>

</div>
