<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.3.1" targetFramework="net472" />
  <package id="ExcelLibrary" version="1.2011.7.31" targetFramework="net40" />
  <package id="Google.Protobuf" version="3.6.1" targetFramework="net472" />
  <package id="MySql.Data" version="8.0.19" targetFramework="net472" />
  <package id="NPOI" version="2.4.1" targetFramework="net472" />
  <package id="SharpZipLib" version="1.2.0" targetFramework="net472" />
  <package id="SSH.NET" version="2016.1.0" targetFramework="net472" />
  <package id="Ubiety.Dns.Core" version="2.4.1" targetFramework="net472" />
</packages>