<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CakePHP.Salt" value="" />
    <add key="Tagger.RootUrl" value="" />
    <add key="Tagger.Transcript.TargetPartDuration" value="3" />
    <add key="Tagger.Song.SampleRootUrl" value="" />
    <add key="Tagger.NotificationThrottleDelay" value="3" />
    <!--minutes-->
    <add key="Tagger.SendMailOnTranscript" value="true" />
    <add key="Tagger.SendMailOnTranscript.To" value="disco@gmail.com" />
    
    
    <add key="SampleMatch.CustomersRootUrl" value="" />
    <add key="matchAnalyzerKey" value="" />
    <add key="Application" value="AdK" />
    <!-- AdKontrol, Dokaznice-->
    <add key="Monitor.Client" value="HR" />
    <!-- PK, MIS, CY, ROI -->
    <add key="Tagger.Mail.Smtp.Domain" value="mail.adamantzg.com" />
    <add key="Tagger.Mail.Smtp.Port" value="587" />
    <add key="Tagger.Mail.EnableSsl" value="true" />
    <add key="Tagger.Mail.Credential.Login" value="demo@adamantzg.com" />
    <add key="Tagger.Mail.Credential.Password" value="" />
    <add key="Tagger.Mail.DefaultBcc.Email" value="demo@adamantzg.com" />
    <add key="Tagger.Super.Password" value="nRjNTsyTm2vO1HTNXXhS4" />
  </appSettings>
  <connectionStrings>
    <add name="pkdb" connectionString="Server=localhost;Database=adk;Uid=adk;Pwd=nRjNTsyTm2vO1HTNXXhS4;Port=3306;old guids=true;charset=utf8; Allow User Variables=True;" />
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime maxRequestLength="20480" />
    <!--20 Mb IIS6-->
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".ts" />
      <mimeMap fileExtension=".m3u8" mimeType="application/x-mpegURL" />
      <mimeMap fileExtension=".ts" mimeType="video/MP2T" />
    </staticContent>
    <handlers>
      <add name="taggerLabExport" verb="POST" path="taggerLabExport" type="AdKontrol.Tagger.TaggerLabExport, AdKontrol.Tagger" preCondition="" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="20971520" />
        <!--20 Mb IIS7-->
      </requestFiltering>
    </security>
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="5000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceProviderSoap" />
      </basicHttpBinding>
    </bindings>
    
  </system.serviceModel>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.19.0" newVersion="8.0.19.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.246" newVersion="1.2.0.246" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
