<div class="word-cut rows-spaced">
	<!--<div class="row">
		<div class="col-sm-12">
			<h1>Locate "{{wordToCut.Word}}"</h1>
			<h2>within "{{wordToCut.PartText}}"</h2>
			<span class="pull-left">
				<button type="button" class="btn btn-xs btn-info" ng-click="pause()">
					<i class="glyphicon" ng-class="{true: 'glyphicon-play', false: 'glyphicon-pause'}[isPaused]"></i>
				</button>
				&nbsp;
			</span>
			<span class="pull-right position-indicator">
				{{(position-wordToCut.PartStart)/1000 | number:1}} / {{(wordToCut.PartEnd-wordToCut.PartStart)/1000 | number:1}}
			</span>
			<div class="progress" progress-seek on-seek="seeked(pos)">
				<div class="progress-bar" role="progressbar" style="width: {{((position-wordToCut.PartStart)/(wordToCut.PartEnd-wordToCut.PartStart))*100}}%;"></div>
			</div>
		</div>
	</div>-->
</div>
