<br />
<button class="btn btn-primary" ng-click="backToChannel()">Back to channel list</button><br />

<label ng-show="data.channel">Editing price list for {{data.channel.Channel.Name}}</label>
<style>
  .table td, .table th
  {
	padding: 4px !important;
	/*font-size: 0.9em;*/
  }
</style>
<div class="price-designer rows-spaced">
    <div class="row">
        <div class="col-sm-12">
            <tabset>
                <tab heading="Week view" active="weekActive" ng-click="changeTab('week')">
                    <div class="row">
                        <div class="col-sm-9">
                            <div class="time-table">
                                <table class="table table-striped table-hover table-bordered text-unselectable">
                                    <thead>
                                        <tr>
                                            <th class="col-title text-center" style="width: 9%">Hour</th>
											<th class="col-title text-center" style="width: 13%" ng-repeat="d in days">{{d}}</th>                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="hour in hours">
                                            <td class="text-center">{{formatHour($index)}}</td>
                                            <td ng-repeat="d in days" class="text-center" ng-class="{'info': getCellSelected($index, hour)}"
												ng-click="cellClicked($index, hour, $event)" ng-dblclick="cellDblClick($index, hour)">
												<div class="pd_definition_container">
													<div ng-repeat="def in getDefinitions($index, hour) | filter:filterDefinitions" class="pd_definition"
													ng-style="getDefinitionStyle(def)" title="{{getDefinitionDescription(def)}}">
													<span ng-show="def.to - def.from > 600">{{def.source.DayPart.Short_code}}</span></div>
												</div>
											</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <label>Price groups</label>
                            <div><button class="btn" ng-disabled="!enableAddHourButton()" ng-click="assign()">Assign to hour</button>
							<button class="btn" ng-click="addPart()">Add new day part</button>
							<button class="btn" ng-disabled="!enableRemoveHourButton()" ng-click="unassign()">Delete hour</button>
								</div><br />
                            <table class="table table-striped table-hover table-bordered text-unselectable">
                                <thead>
                                    <tr>
                                        <th class="col-title text-center">Code</th>
                                        <th class="col-title text-center">Group Name</th>
										<th class="col-title text-center"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="d in data.channel.DayParts" ng-class="{'info': d.Selected}" ng-click="dayPartRowClicked(d)">
                                        <td class="text-center" ng-style="{backgroundColor: d.BackgroundColor, color: d.Color }">{{d.Short_code}}</td>
                                        <td class="text-center" ng-style="{backgroundColor: d.BackgroundColor, color: d.Color }">{{d.Name}}</td>
										<td class="text-center" ng-style="{backgroundColor: d.BackgroundColor, color: d.Color }"><span class="glyphicon glyphicon-edit" ng-click="editPart(d)"></span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </tab>
                <tab heading="Products" active="productsActive" ng-click="changeTab('products')">
                    <div class="row">
                        <!--<div class="col-sm-4">
                            <div class="form-inline">
                                <div class="form-group">
                                    <label>Product: </label>
                                    <select class="form-control" ng-options="p as p.Name for p in channel.Products" ng-model="channel.selectedProduct" ng-change="onSelectedProductChange()"></select>
                                    
                                </div>
                                
                            </div>        
                        </div>-->
					  
					    <div class="col-sm-8">
					      <div><label>Products Assigned to Channel {{data.selectedChannel.Name}}</label></div>
					      <div class="btn-group">
                            <label class="btn btn-default" ng-click="addNewProduct()">Add new</label>
							<button ng-repeat="channelProduct in data.channel.Products | orderBy: 'Id'" class="btn btn-default" ng-click="productSelected(channelProduct)" ng-class="{active: data.channel.selectedProduct == channelProduct}" >{{channelProduct.Name}}</button>
					      </div>
					    </div>
					  
                        <div class="col-sm-4 text-right">
                            <button class="btn btn-default" ng-click="openProductCodeModal()" ng-disabled="data.channel.selectedProduct == null">Add new product code</button>
                            <!--<button class="btn btn-default" ng-click="addPart()">Add new day part</button>-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-striped table-hover table-bordered text-unselectable form-inline">
                                <thead>
                                    <tr>
                                        <th class="col-title text-center">Product code</th>
                                        <th class="col-title text-center">Duration</th>
                                        <th class="col-title text-center" ng-repeat="d in selectedDayParts()">{{d.Name}}</th>
                                        <th class="col-title text-center">Price mode</th>
										<th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="c in data.channel.selectedProduct.Codes | orderBy: orderCodeBy">
                                        <td>
										  <input type="text" class="form-control" keep-focus ng-model="c.Code" ng-change="dataChanged(c)" ng-keyup="checkKey($event,c,$index,0)" model-change-blur style="width:95%"/>
										</td>
                                        <td>
										  <input type="text" class="form-control" ng-model="c.DurationMax" ng-change="dataChanged(c)" ng-keyup="checkKey($event,c,$index,1)" style="width:95%"/>
										</td>
                                        <td ng-repeat="d in getCodeDayParts(c) | orderBy: 'DayPartId'">
										  <input type="text" class="form-control" ng-model="d.Price" ng-change="dataChanged(c)" ng-keyup="checkKey($event,c,$parent.$index,2+$index)" style="width:95%"/>
										</td>
                                        <td>
										  <select ng-options="m.Id as m.Name for m in priceModes" ng-model="c.PriceMode" class="form-control" ng-change="dataChanged(c)" style="width:95%"></select>
										  <input type="text" style="width:0px;height:0px;padding:0;border:0" ng-keyup="checkKey($event,c,$index,-1)" />
										</td>
									    <td>
										  <span class="glyphicon glyphicon-remove" ng-click="removeCode(c)"></span>
									   </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="form-group pull-right">
                <button class="btn btn-sm btn-primary" ng-disabled="!data.pendingSave" ng-click="saveToDatabase()"><i class="glyphicon glyphicon-floppy-save"></i>&nbsp;Save to Database</button>
				<button class="btn btn-sm btn-secondary" ng-disabled="!data.pendingSave" ng-click="revert()"><i class="glyphicon glyphicon-refresh"></i>&nbsp;Revert changes</button>
                <!--<button class="btn btn-sm btn-default" ng-disabled="!pendingSave" ng-click="cancel()"><i class="glyphicon glyphicon-remove-circle"></i>&nbsp;Cancel</button>-->
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="addNewDayPart.html">
    <form on-enter="save()" name="addNewDayPart" >
        <div class="modal-header warning">
            <h4 style="margin:0;"> {{title}} day part </h4>
        </div>
        <div class="modal-body">
			<div class="container-fluid form-horizontal">
				<div class="form-group">
					<label>Code: </label>
					<input type="text" ng-model="dp.Short_code" class="form-control" required autofocus />
				</div>
				<div class="form-group">
					<label>Name: </label>
					<input type="text" ng-model="dp.Name" class="form-control" required />
				</div>
				<div class="form-group">
					<label>Background color: </label>
					<input colorpicker type="text" ng-model="dp.BackgroundColor" class="form-control" />
				</div>
				<div class="form-group">
					<label>Text color: </label>
					<input colorpicker type="text" ng-model="dp.Color" class="form-control" />
				</div>
			</div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" ng-click="cancel()">Cancel</button>
            <button class="btn btn-primary" ng-click="save()">Ok</button>
        </div>
    </form>
</script>
<script type="text/ng-template" id="addNewProduct.html">
    <form on-enter="save()" name="addProduct">
        <div class="modal-header warning">
            <h4 style="margin:0;"> Add new product to channel {{channel.Name}} </h4>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <!--<div class="form-group">
                    <label>Product: </label>
                    <select ng-model="Product" class="form-control" required ng-options="p as p.Name for p in Products" autofocus></select>
                </div>-->
			  <table class="table table-striped table-hover table-bordered text-unselectable" on-enter="save()">
			    
			    <tbody>
			      <tr ng-repeat="p in Products" ng-class="{'info': p.Selected}" ng-click="productSelected(p)">
			        <td>{{p.Name}}</td>
			      </tr>
			    </tbody>
			  </table>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" ng-click="cancel()">Cancel</button>
            <!--<button class="btn btn-primary" ng-click="save()">Ok</button>-->
        </div>
    </form>
</script>
<script type="text/ng-template" id="addNewCode.html">
    <form on-enter="save()" name="addCode">
        <div class="modal-header warning">
            <h4 style="margin:0;"> Add new code for {{product.Name}} </h4>
        </div>
        <div class="modal-body">
            <div class="container-fluid form-horizontal">
                <div class="form-group">
                    <label>Suffix: </label>
                    <input type="text" ng-model="code.Suffix" class="form-control" required autofocus />
                </div>
                <div class="form-group">
                    <label>Maximum duration: </label>
                    <input type="number" ng-model="code.DurationMax" class="form-control" required />
                </div>
                <div class="form-group">
                    <label>Price mode: </label>
                    <select ng-options="m.Id as m.Name for m in priceModes" class="form-control" ng-model="code.PriceMode"></select>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" ng-click="cancel()">Cancel</button>
            <button class="btn btn-primary" ng-click="save()">Ok</button>
        </div>
    </form>
</script>
<script type="text/ng-template" id="dayHour.html">
    <form >
        <div class="modal-header warning">
            <h4 style="margin:0;"> Edit day parts for time slot </h4>
        </div>
        <div class="modal-body">
            <div class="container-fluid form-horizontal">
                
				<div class="mt-2">
					<table class="table">
						<thead>
							<tr>
								<th style="width: 20px"></th>
								<th>Part</th>
								<th>From</th>
								<th>To</th>
								<th style="width: 75px"></th>
								<th style="width: 75px"></th>
								<th style="width: 75px"></th>
								<th style="width: 75px"></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat-start="d in data | filter: { markDeleted : false } | orderBy: ['hour','from']">
								<td><input type="checkbox" ng-model="d.Selected" /></td>
								<td ng-class="{'pd_currentPart': isCurrent(d)}">{{d.source.DayPart.Name}}</td>
								<td ng-class="{'pd_currentPart': isCurrent(d)}">{{getTimeFormatted(d.hour, d.from)}}</td>
								<td ng-class="{'pd_currentPart': isCurrent(d)}">{{getTimeFormatted(d.hour, d.to + 1)}}</td>
								<td><button class="btn btn-default" ng-disabled="splitActive || insertActive || mergeActive" ng-click="split(d)">Split</button></td>
								<td><button class="btn btn-default" ng-disabled="splitActive || insertActive || mergeActive" ng-click="delete(d)">Delete</button></td>
								<td><button class="btn btn-default" ng-disabled="splitActive || insertActive || mergeActive" ng-show="showInsert($index)" ng-click="insert($index)">Insert</button></td>
								<td><button class="btn btn-default" ng-disabled="splitActive || insertActive || mergeActive" ng-show="showMerge($index)" ng-click="merge($index)">Merge</button></td>

							</tr>
							<tr ng-show="d.splitActive" >
								<td colspan="2"></td>
								<td colspan="2">
									<!--{{getTimeFormatted(d.hour, d.from)}} - {{getTimeFormatted(d.hour, d.splitValue}}  -  {{getTimeFormatted(d.hour, d.to+1)}}-->
									<div style="display:flex;justify-content:space-between">
										<div><select ng-options="dp.Id as dp.Name for dp in dayParts" ng-model="d.splitDayPartId1"></select></div>
										<div>{{getTimeFormatted(d.hour, d.splitValue)}}</div>
										<div><select ng-options="dp.Id as dp.Name for dp in dayParts" ng-model="d.splitDayPartId2"></select></div>
									</div>
									<input type="range" min="{{d.from}}" max="{{d.to}}" step="60" ng-model="d.splitValue" />
								</td>
								<td colspan="4"><button class="btn btn-default" ng-click="confirmSplit(d)">Confirm</button> <button class="btn btn-default" ng-click="cancelSplit(d)">Cancel</button></td>
							</tr>
							<tr ng-if="d.insertActive">
								<td colspan="2">
									<select ng-options="dp.Id as dp.Name for dp in dayParts" ng-model="insertParams.dayPartId"></select>
								</td>
								<td colspan="2">									
									<div style="display:flex;justify-content:space-between">
										<div>{{getTimeFormatted(insertPart1.hour, insertParams.from)}}</div>
										<input type="range" min="{{insertPart1.from}}" max="{{insertPart1.to+1}}" step="60" ng-model="insertParams.from" />
									</div>
									<div style="display:flex;justify-content:space-between">
										<div>{{getTimeFormatted(insertPart2.hour, insertParams.to)}}</div>
										<input type="range" min="{{insertPart2.from}}" max="{{insertPart2.to+1}}" step="60" ng-model="insertParams.to" />
									</div>

								</td>
								<td colspan="4"><button class="btn btn-default" ng-disabled="!insertParams.dayPartId || getInsertLength()==0" ng-click="confirmInsert(d)">Confirm</button> <button class="btn btn-default" ng-click="cancelInsert(d)">Cancel</button></td>
							</tr>
							<tr ng-if="d.mergeActive" ng-repeat-end>
								<td colspan="2"></td>
								<td colspan="2">
									<select ng-options="dp.Id as dp.Name for dp in dayParts" ng-model="d.mergeDayPartId"></select>
								</td>
								<td colspan="4"><button class="btn btn-default" ng-disabled="!d.mergeDayPartId" ng-click="confirmMerge(d, $index)">Confirm</button> <button class="btn btn-default" ng-click="cancelMerge(d)">Cancel</button></td>
							</tr>
						</tbody>
					</table>
				</div>
				
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" ng-disabled="splitActive || insertActive || mergeActive" ng-click="cancel()">Cancel</button>
            <button class="btn btn-primary" ng-disabled="splitActive || insertActive || mergeActive" ng-click="save()">Ok</button>
        </div>
    </form>
</script>
